body {
    background-image: url("../images/IMG_0201.jpg"); 
    background-size: cover;
    background-position: 0px -485px;
}

footer {
    color: rgba(204, 204, 204, 0.733);
}

.Top-Intro {
    background-color: rgba(255, 255, 255, 0.795);
}   

hr {
    color: black;
    border: black;
}

.Intro {
    background-color: rgba(235, 235, 235, 0.623);
}

.navbar-nav a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    color: white !important;

}

.navbar-brand {
    color: grey !important;
    font-family: cursive;
}

.navbar {
    overflow: hidden;
    background-color: #00000054;
    position: fixed;
    top: 0;
    width: 100%; 
    z-index: 900;
}

.lead {
    font-family: Arial, Helvetica, sans-serif;
    color: darkslategrey
}

.p-white {
    font-family: Arial, Helvetica, sans-serif;
    color: darkslategray;
}

.jumbotron {
    background-color: transparent;
    background-position-x: 0cm;
    background-position-y: 20%;
}

.display-4 {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.rbm-logo {
    background-size: cover;
    width: 600px;
}

.Top-Intro {
    margin-top: 100px;
    background-color: rgba(204, 204, 204, 0.315);
}

.logo-break {
    border: 1px solid rgb(0, 0, 0);
}

.title-break {
    border: 0.6px solid rgb(0, 0, 0)
}

.main-carousel .carousel-item img{
    max-width: 30%;
    margin: 0 auto;
}

.mb-5 .flex-center{
    align-items: center;
}

.intro-pic1 {
    width: 20%;
    height: 20%
}

.intro-pic2 {
    width: 20%;
    height: 20%
}

.intro-pic3 {
    width: 20%;
    height: 20%
}

.intro-pic4 {
    width: 20%;
    height: 20%
}

.intro-pic5 {
    width: 15%;
    height: 20%
}

.intro-pic6 {
    width: 20%;
    height: 20%
}

.intro-pic7 {
    width: 20%;
    height: 20%
}

.intro-pic8 {
    width: 20%;
    height: 20%
}

.intro-pic9 {
    width: 15%;
    height: 20%
}

.intro-pic10 {
    width: 20%;
    height: 20%
}

.gallerytop {
    color: rgb(124, 121, 121) !important;
    border-style: solid !important;
}

.gallerybot {
    color: darkmagenta !important;
    border-style: inset !important;
}